:root{
    --background-gray:#242A32;
    --secondary-gray: #3A3F47;
    --light-gray: #67686D;
    --text-stroke:  #0296E5;
    --border-content:  #0296e589;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    padding-top: 55px;
    padding-bottom: 50px;
    background: var(--background-gray);
}
.inactive{
    display: none;
}
header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    background: var(--background-gray);
    top: 0;
    z-index: 1;
}
header .img-header{
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
}
header h1{
    font-size: 2.5rem;
    color: #fff;
}
.search-container{
    width: 100%;
    position: fixed;
    background: var(--background-gray);
}
header .search-container i{
    font-size: 25px;
    color: var(--light-gray);
    position: absolute;
    left: 20px;
    transform: translateY(-50%);
}
header .search-container h2{
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: var(--secondary-gray);
    border-radius: 15px;
    height: 40px;
    padding-left: 8px;
}
#form button{
    width: 35px;
    height: 35px;
    margin-left: 5px;
    background: none;
    border: none;
}
#form button img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}
#form input{
    background: none;
    border: none;
    outline: none;
    width: calc(100% - 50px);
    color: #fff;
}
.fa-solid.fa-magnifying-glass{
    font-size: 20px;
    transform: scaleX(-1);
    color: var(--light-gray);
}
.preview-trends-container{
    width: 100%;
}
.trends-Title-Container{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    /* background: gray; */
}
.trends-Title-Container h2{
    color: #fff;
    font-size: 1.6rem;
}

.trends-Title-Container .btn-seeMore{
    border: 1px solid var(--secondary-gray);
    background: none;
    padding: 5px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}
.fa-solid.fa-angles-right{
    font-size: 15px;
    margin-left: 5px;
}
.movie-trends-container {
    max-height: 230px;
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 5px;
    overscroll-behavior-x: contain;
    overflow-y: hidden;
    /* scroll-snap-type: x proximity; */
}
.movie-trends-loading{
    display: inline-block;
    width: 144px;
    height: 210px;
    border-radius: 16px;
    margin-right: 20px;
    background: var(--secondary-gray); 
    scroll-snap-align: center;
    margin-bottom: 40px;
    animation: loading-skeleton infinite 1.5s;
}
.movie {
    position: relative;
    display: inline-block;
    width: 144px;
    height: 210px;
    border-radius: 16px;
    margin-right: 20px;
    scroll-snap-align: center;
    margin-bottom: 40px;
}
.movie-trends-container::-webkit-scrollbar {
    height: 1px;
    background-color: none;
}

.movie-trends-container::-webkit-scrollbar-thumb {
    background-color: none;
}

.movie-trends-container .movie .movie-number{
    font-size: 9.6rem;
    position: absolute;
    left: -15px;
    bottom: -30px;
    font-weight: bold;
    color: var(--background-gray);
    -webkit-text-stroke: 1px var(--text-stroke);
    font-weight: bold;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.movie-img{
    width: 100%;
    min-height: 145px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}
.favorite-movies-container{
    width: 100%;
    overflow-x: hidden;
}
.favorite-movies-container h2{
    margin: 0 auto 10px;
    width: 300px;
    color: #fff;
}
.movie-scroll-container{
    max-height: 230px;
    min-width: 300px;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 5px;
    overscroll-behavior-x: contain;
    overflow-y: hidden;
}
.movie-scroll-container::-webkit-scrollbar {
    height: 1px;
    background-color: none;
}

.movie-scroll-container::-webkit-scrollbar-thumb {
    background-color: none;
}
.movie-scroll-container .movie-container{
    position: relative;
    display: inline-block;
    width: 144px;
    height: 210px;
    border-radius: 16px;
    margin-right: 20px;
    scroll-snap-align: center;
    margin-bottom: 40px;
}
.categories-container{
    width: 300px;
    overflow-x: scroll;
    white-space: nowrap;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin-top: 10px;
}
.categories-container .category{
    font-size: 1.5rem;
    color: #fff;
    scroll-snap-align: center;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none; 
}
.categories-container .category:active{
    transition: 0.1s ease;
    transform: scale(1.1);
    color: var(--text-stroke);
}
/* MOVIE-BTN */
button.movie-btn{
    transition: .1s linear;
    width: 30px;
    height: 30px;
    border: none;
    position: absolute;
    border-radius: 50%;
    background-color: var(--secondary-gray);
    top: 5px;
    right: 5px;
    box-shadow: 0 0 10px var(--text-stroke);
} 
button.movie-btn i{
    font-size: 15px;
    color: var(--light-gray);
}
button.movie-btn.movie-btn--liked{
    transition: .1s linear;
    /* top: 50%;
    left: 50%; */
    transform: translate(calc(-50% - 15px), 150% );
    width: 50px;
    height: 50px;
}
button.movie-btn.movie-btn--liked i{
    font-size: 30px;
}
.categories-container .category-loading { 
    width: 55px;
    height: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    background: var(--secondary-gray);
    animation: loading-skeleton infinite 1.5s;
    scroll-snap-align: center;
    display: inline-block;
}
.categories-container::-webkit-scrollbar {
    height: 1px;
    background-color: none;
}

.categories-container::-webkit-scrollbar-thumb {
    background-color: var(--light-gray);
}
.movie-category-container{
    width: 300px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 5px;
}
.movie-category-container .movie-container{
    position: relative;
}
.movie-category-container .img-movie-category{
    width: 134px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}
.movie-category-container .movie-category-loading{
    display: inline-block;
    width: 144px;
    height: 210px;
    border-radius: 16px;
    background: var(--secondary-gray); 
    scroll-snap-align: center;
    animation: loading-skeleton infinite 1.5s;
}
.movie-detail-container{
    width: 100%;
}
.movie-detail-container .movie-detail-background-img{
    width: 100%;
    height: 260px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
    position: fixed;
    z-index: -1;
}
.movie-detail-container .movie-detail-content{
    width: 100%;
    height: auto;
    background: var(--background-gray);
    margin-top: 250px;
    border-radius: 16px;
    position: relative;
}
.movie-detail-content img.movie-detail-img{
    width: 90px;
    height: 120px;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 20px;
    transform: translateY(-50%);
}

.movie-detail-content .movie-detail-img-loading{
    width: 90px;
    height: 120px;
    border-radius: 16px;
    position: absolute;
    left: 20px;
    transform: translateY(-50%);
    background: var(--secondary-gray);
    animation: loading-skeleton infinite 1.5s;
}
.header-movie-detail-content{
    padding-top: 10px;
    width: calc(100% - 110px);
    margin: 0 0 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 40px;
}
.header-movie-detail-content h3{
    max-width: 70%;
    font-size: 1.6rem;
    color: #fff;
}
.header-movie-detail-content span{
    font-size: 1.6rem;
    color: #fff;
    position: relative;
}
.header-movie-detail-content span:before{
    content: '⭐️';
    position: absolute;
    left: -22px;
    top: -5px;
}
.movie-detail-content .movie-detail-description{
    color: #fff;
    font-size: 1.3rem;
    width: 300px;
    margin: 20px auto ;
}
.movie-detail-category-container{
    width: 300px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--light-gray);
}
.movie-detail-category-container .category{
    font-size: 1.5rem;
    color: #fff;
    border: 1px solid var(--text-stroke);
    padding: 5px;
    border-radius: 8px;
}
.movie-detail-category-container .movie-detail-category-loading{
    width: 50px;
    height: 15px;
    background: var(--secondary-gray);
    border-radius: 8px;
    animation: loading-skeleton infinite 1.5s;
}

.similar-movies-container h2{
    margin: 10px 0 10px 30px;
    font-size: 1.6rem;
    color: #fff;
}
.similar-movies-container .similar-movies{
    min-width: 300px;
    max-width: 400px;
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 5px;
    overscroll-behavior-x: contain;
    margin: 10px auto 0 auto;
    overflow-y: hidden;
    max-height: 215px;
}
.similar-movies-container .similar-movies .movie-container{
    width: 144px;
    height: 210px;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
    margin-right: 5px;
    display: inline-block;
    scroll-snap-align: center;
    margin-bottom: 5px;
    position: relative;
}
.similar-movies-container .similar-movies-loading{
    width: 100px;
    height: 120px;
    border-radius: 16px;
    margin-right: 5px;
    display: inline-block;
    scroll-snap-align: center;
    margin-bottom: 5px;
    background: var(--secondary-gray);
    animation: loading-skeleton infinite 1.5s;
}
.similar-movies-container .similar-movies::-webkit-scrollbar {
    height: 1px;
    background-color: none;
}

.similar-movies-container .similar-movies::-webkit-scrollbar-thumb {
    background-color: var(--light-gray);
}
footer{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: var(--background-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid var(--border-content);
}
footer div button{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}
footer .footer-btn-container{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div button .i{
    -webkit-text-stroke: 2px var(--light-gray);
    color: #0000;
    font-size: 20px;
    margin-bottom: 5px;
}
/* footer div button .fa-solid{
    font-size: 25px;
    color: var(--light-gray);
    margin-bottom: 5px;
} */
footer div button .fa-regular{
    font-size: 20px;
    color: var(--light-gray);
    margin-bottom: 5px;
}
footer div button .fa-solid.search{
    font-size: 20px;
    color: var(--light-gray);
    margin-bottom: 5px;
}


@keyframes loading-skeleton {
    0%, 100% {
    opacity: 100%;
    }
    50% {
    opacity: 0%;
    }
}