:root{
    --background-gray:#242A32;
    --secondary-gray: #3A3F47;
    --light-gray: #67686D;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background: #242A32;
}