:root{
    --background-gray:#242A32;
    --secondary-gray: #3A3F47;
    --light-gray: #67686D;
    --text-stroke:  #0296E5;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    padding: 80px 0;
    background: var(--background-gray);
}
header{
    background-color: var(--background-gray);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 0.01px solid black;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}



#form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: var(--secondary-gray);
    border-radius: 15px;
    height: 40px;
    padding-left: 8px;
}
#form button{
    width: 35px;
    height: 35px;
    margin-left: 5px;
    background: none;
    border: none;
}
#form button img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}
#form input{
    background: none;
    border: none;
    outline: none;
    width: calc(100% - 50px);
}
.fa-solid.fa-magnifying-glass{
    font-size: 20px;
    transform: scaleX(-1);
    color: var(--light-gray);
}
.trends-Title-Container{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    /* background: gray; */
}
.trends-Title-Container h2{
    color: #fff;
    font-size: 1.6rem;
}

.trends-Title-Container .btn-seeMore{
    border: 1px solid var(--secondary-gray);
    background: none;
    padding: 5px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}
.fa-solid.fa-angles-right{
    font-size: 15px;
    margin-left: 5px;
}
.movie-trends-container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 5px;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin-top: 10px;
}

.movie {
    position: relative;
    display: inline-block;
    width: 144px;
    height: 210px;
    border-radius: 16px;
    margin-right: 20px;
    /* background: red; */
    scroll-snap-align: center;
    margin-bottom: 40px;
}
.movie-trends-container::-webkit-scrollbar {
    height: 1px;
    background-color: none;
}

.movie-trends-container::-webkit-scrollbar-thumb {
    background-color: none;
}

.movie-trends-container .movie .movie-number{
    font-size: 9.6rem;
    position: absolute;
    left: -15px;
    bottom: -30px;
    font-weight: bold;
    color: var(--background-gray);
    -webkit-text-stroke: 1px var(--text-stroke);
    font-weight: bold;
}
.movie-trends-container .movie img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}
.categories-container{
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 5px;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin-top: 10px;
}
.category{
    font-size: 1.5rem;
    color: #fff;
    scroll-snap-align: center;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: bold;
}
.categories-container::-webkit-scrollbar {
    height: 1px;
    background-color: none;
}

.categories-container::-webkit-scrollbar-thumb {
    background-color: var(--light-gray);
}
.movie-category-container{
    width: 300px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-bottom: 5px;
}
.movie-category-container .img-movie-category{
    width: 90px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}
footer{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    background-color: var(--background-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid var(--text-stroke);
}
footer div button{
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}
footer .footer-btn-container{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div button .i{
    -webkit-text-stroke: 2px var(--light-gray);
    color: #0000;
    font-size: 25px;
    margin-bottom: 5px;
}
/* footer div button .fa-solid{
    font-size: 25px;
    color: var(--light-gray);
    margin-bottom: 5px;
} */
footer div button .fa-regular{
    font-size: 25px;
    color: var(--light-gray);
    margin-bottom: 5px;
}
footer div button .fa-solid.search{
    font-size: 25px;
    color: var(--light-gray);
    margin-bottom: 5px;
}
