:root{
    --background-gray:#242A32;
    --secondary-gray: #3A3F47;
    --light-gray: #67686D;
    --text-stroke:  #0296E5;
    --border-content:  #0296e589;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    padding-bottom: 80px;
    background: var(--background-gray);
}
.inactive{
    display: none;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    /* position: fixed; */
    top: 0;
    z-index: 1;
    /* border-bottom: 0.5px solid var(--border-content); */
}
header .img-header{
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
}
header h1{
    font-size: 2.5rem;
    color: #fff;
}
header .search-container{
    width: 300px;
    position: relative;
}
header .search-container i{
    font-size: 25px;
    color: var(--light-gray);
    position: absolute;
    left: 0;
}
header .search-container h2{
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}



#form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: var(--secondary-gray);
    border-radius: 15px;
    height: 40px;
    padding-left: 8px;
}
#form button{
    width: 35px;
    height: 35px;
    margin-left: 5px;
    background: none;
    border: none;
}
#form button img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}
#form input{
    background: none;
    border: none;
    outline: none;
    width: calc(100% - 50px);
}
.fa-solid.fa-magnifying-glass{
    font-size: 20px;
    transform: scaleX(-1);
    color: var(--light-gray);
}
.trends-Title-Container{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    /* background: gray; */
}
.trends-Title-Container h2{
    color: #fff;
    font-size: 1.6rem;
}

.trends-Title-Container .btn-seeMore{
    border: 1px solid var(--secondary-gray);
    background: none;
    padding: 5px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}
.fa-solid.fa-angles-right{
    font-size: 15px;
    margin-left: 5px;
}
.movie-trends-container {
    min-width: 300px;
    max-width: 350px;

    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 5px;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin-top: 10px;
}

.movie {
    position: relative;
    display: inline-block;
    width: 144px;
    height: 210px;
    border-radius: 16px;
    margin-right: 20px;
    /* background: red; */
    scroll-snap-align: center;
    margin-bottom: 40px;
}
.movie-trends-container::-webkit-scrollbar {
    height: 1px;
    background-color: none;
}

.movie-trends-container::-webkit-scrollbar-thumb {
    background-color: none;
}

.movie-trends-container .movie .movie-number{
    font-size: 9.6rem;
    position: absolute;
    left: -15px;
    bottom: -30px;
    font-weight: bold;
    color: var(--background-gray);
    -webkit-text-stroke: 1px var(--text-stroke);
    font-weight: bold;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.movie-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}
.categories-container{
    width: 300px;
    overflow-x: scroll;
    white-space: nowrap;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin-top: 10px;
}
.categories-container .category{
    font-size: 1.5rem;
    color: #fff;
    scroll-snap-align: center;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}
.categories-container::-webkit-scrollbar {
    height: 1px;
    background-color: none;
}

.categories-container::-webkit-scrollbar-thumb {
    background-color: var(--light-gray);
}
.movie-category-container{
    width: 300px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 5px;
}
.movie-category-container .img-movie-category{
    width: 134px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}
.movie-detail-container{
    width: 100%;
}
.movie-detail-container .movie-detail-img-background{
    width: 100%;
    height: 260px;
    background-image: url('https://i.pinimg.com/564x/ee/bc/95/eebc9576b43ce4ed42aab210798188d9.jpg');
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: -1;
}
.movie-detail-container .movie-detail-content{
    width: 100%;
    height: 50vh;
    background: var(--background-gray);
    margin-top: 250px;
    border-radius: 16px;
    position: relative;
}
.movie-detail-content img{
    width: 90px;
    height: 120px;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 20px;
    transform: translateY(-50%);
}
.header-movie-detail-content{
    padding-top: 10px;
    width: calc(100% - 110px);
    margin: 0 0 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-movie-detail-content h3{
    max-width: 70%;
    font-size: 1.6rem;
    color: #fff;
}
.header-movie-detail-content span{
    font-size: 1.6rem;
    color: #fff;
    position: relative;
}
.header-movie-detail-content span:before{
    content: '⭐️';
    position: absolute;
    left: -22px;
    top: -5px;
}
.movie-detail-content .movie-detail-description{

    width: 300px;
    margin: 20px auto ;
}
footer{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: var(--background-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid var(--border-content);
}
footer div button{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}
footer .footer-btn-container{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div button .i{
    -webkit-text-stroke: 2px var(--light-gray);
    color: #0000;
    font-size: 20px;
    margin-bottom: 5px;
}
/* footer div button .fa-solid{
    font-size: 25px;
    color: var(--light-gray);
    margin-bottom: 5px;
} */
footer div button .fa-regular{
    font-size: 20px;
    color: var(--light-gray);
    margin-bottom: 5px;
}
footer div button .fa-solid.search{
    font-size: 20px;
    color: var(--light-gray);
    margin-bottom: 5px;
}


